<p id="notice"><%= notice %></p>

<h1>Responses</h1>

<table>
  <thead>
    <tr>
      <th>Forget</th>
      <th>Medical</th>
      <th>Allowance</th>
      <th>Other</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @responses.each do |response| %>
      <tr>
        <td><%= response.forget %></td>
        <td><%= response.medical %></td>
        <td><%= response.allowance %></td>
        <td><%= response.other %></td>
        <td><%= link_to 'Show', response %></td>
        <td><%= link_to 'Edit', edit_response_path(response) %></td>
        <td><%= link_to 'Destroy', response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <tr>
      <td><%= @responses_forget%></td>
      <td><%=@responses_medical%></td>
      <td><%=@responses_allowance%></td>
      <td><%=@responses_other%></td>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Response', new_response_path %>
